alembic
blinker
click
colorama
Flask
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
importlib_metadata
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
pillow
pydot
PyMySQL
pyparsing
python-dotenv
SQLAlchemy
sqlalchemy_schemadisplay
typing_extensions
Werkzeug
WTForms
zipp